<template>
  <b-button :variant="variant">
    <b-spinner
      v-if="inProgress"
      small
    />
    <slot />
  </b-button>
</template>

<script>
export default {
  name: "AsyncButton",
  props: {
    variant: {
      type: String,
      default: undefined,
    },
    inProgress: {
      type: Boolean,
      required: true,
    },
  },
}
</script>
