<template>
  <b-modal
    :id="id"
    :busy="inProgress"
    :title="title"
    :ok-variant="okVariant"
    @ok="onOk"
    @hide="onHide"
  >
    <template
      v-if="$scopedSlots.header"
      #header
    >
      <slot
        name="header"
        :inProgress="inProgress"
      />
    </template>

    <template
      v-if="$scopedSlots.footer"
      #footer
    >
      <slot
        name="footer"
        :inProgress="inProgress"
      />
    </template>

    <template
      v-if="$scopedSlots['modal-ok']"
      #modal-ok
    >
      <slot
        name="modal-ok"
        :inProgress="inProgress"
      />
    </template>

    <slot :inProgress="inProgress" />
  </b-modal>
</template>

<script>
export default {
  name: "AsyncModal",
  props: {
    id: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      default: "",
    },
    okVariant: {
      type: String,
      default: undefined,
    },
    onConfirm: {
      type: Function,
      default: () => {},
    },
  },
  data() {
    return {
      inProgress: false,
    }
  },
  methods: {
    async onOk() {
      this.inProgress = true
      try {
        await this.onConfirm()
        this.inProgress = false
        this.$bvModal.hide(this.id)
      } catch (error) {
        this.inProgress = false
        this.$bvToast.toast(error, {
          title: "Error",
          autoHideDelay: 3000,
          variant: "danger",
        })
      }
    },
    onHide(evt) {
      if (this.inProgress) evt.preventDefault()
    },
  },
}
</script>
