<template>
  <b-form @submit.stop.prevent>
    <b-form-group
      v-if="isEdit"
      label="Id"
    >
      <b-form-input
        v-model="device.id"
        readonly
      />
    </b-form-group>
    <b-form-group label="Name">
      <b-form-input
        v-model="device.name"
        :readonly="inProgress"
      />
    </b-form-group>
  </b-form>
</template>

<script>
export default {
  name: "DeviceForm",
  props: {
    onConfirm: {
      type: Function,
      default: () => console.log("onConfirm unplugged"),
    },
    onCancel: {
      type: Function,
      default: () => console.log("onCancel unplugged"),
    },
    inProgress: {
      type: Boolean,
      default: false,
    },
    isEdit: {
      type: Boolean,
      default: false,
    },
    device: {
      type: Object,
      default: () => ({
        id: "",
        name: "",
        token: "",
      }),
    },
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
    },
    onReset(evt) {
      evt.preventDefault()
    },
  },
}
</script>
