<template>
  <b-modal id="bv-device-modal">
    <DeviceForm
      :on-confirm="onConfirm"
      :on-cancel="onCancel"
    />
  </b-modal>
</template>

<script>
import DeviceForm from "@/components/DeviceForm"

export default {
  name: "DeviceModal",
  components: {
    DeviceForm,
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
    device: {
      type: Object,
      default: () => ({
        id: "",
        name: "",
        token: "",
      }),
    },
  },
  methods: {
    onConfirm: function() {
      this.$bvModal.hide("bv-device-modal")
    },
    onCancel: function() {
      this.$bvModal.hide("bv-device-modal")
    },
  },
}
</script>
