<template>
  <div>
    <b-card>
      <b-form>
        <b-form-group label="Email">
          <b-form-input
            v-model="user.email"
            required
            :readonly="inProgress"
          />
        </b-form-group>
        <b-form-group label="Password">
          <b-form-input
            v-model="user.password"
            required
            type="password"
            :readonly="inProgress"
          />
        </b-form-group>
        <b-form-group label="Confirm password">
          <b-form-input
            required
            type="password"
            :readonly="inProgress"
          />
        </b-form-group>

        <b-button type="submit">
          Save
        </b-button>
        <b-button type="submit">
          Cancel
        </b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "UserForm",
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
    inProgress: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      user: {},
    }
  },
  methods: {},
}
</script>
