<template>
  <div />
</template>

<script>
export default {
  name: "UserList",
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    edit(id) {
      console.debug("edit", id)
    },
    remove(id) {
      console.debug("remove", id)
    },
  },
}
</script>
