<template>
  <div id="app">
    <b-container fluid>
      <b-row class="mb-3">
        <b-navbar
          type="dark"
          variant="dark"
        >
          <b-navbar-brand to="/">
            Locator
          </b-navbar-brand>
        </b-navbar>
      </b-row>
      <b-row>
        <b-col
          cols="12"
          lg="auto"
          class="mb-3 mb-lg-0"
        >
          <b-button
            v-b-toggle.pages
            class="d-lg-none"
            size="sm"
            block
          >
            Show available pages
          </b-button>
          <b-collapse
            id="pages"
            class="d-lg-block mt-1 mt-lg-0"
          >
            <b-card no-body>
              <b-card-header class="d-none d-lg-block">
                Available pages
              </b-card-header>
              <b-list-group flush>
                <b-list-group-item
                  v-for="r in availableRoutes"
                  :key="r.name"
                  :to="r.to"
                  exact
                  exact-active-class="active"
                >
                  {{ r.name }}
                </b-list-group-item>
              </b-list-group>
            </b-card>

            <b-card
              no-body
              class="mt-1"
            >
              <b-list-group flush>
                <b-list-group-item
                  v-if="isAuthorized"
                  button
                  @click="signOut"
                >
                  Sign Out
                </b-list-group-item>
                <b-list-group-item
                  v-else
                  :to="{ name: 'SignIn' }"
                >
                  Sign In
                </b-list-group-item>
              </b-list-group>
            </b-card>
          </b-collapse>
        </b-col>
        <b-col
          cols="12"
          lg
        >
          <router-view />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
  name: "App",
  data() {
    return {
      // isAuthorized: true,
      activeRouteName: null,
      routes: [
        { name: "Home", to: "/" },
        { name: "Devices", to: "/devices", authRequired: true },
      ],
    }
  },
  computed: {
    isAuthorized() {
      return !!this.$store.state.auth.token
    },
    availableRoutes() {
      return this.routes.filter(r => !r.authRequired || (r.authRequired && this.isAuthorized))
    },
  },
  methods: {
    ...mapActions({
      signOut: "auth/signOut",
    }),
  },
}
</script>

<style scoped>
.navbar {
  width: 100%;
}

.custom-link {
  color: inherit;
}
</style>

<style>
#app {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* #nav {
    padding: 30px;
    }

    #nav a {
    font-weight: bold;
    color: #2c3e50;
    }

    #nav a.router-link-exact-active {
    color: #42b983;
    } */
</style>
