<template>
  <div>
    <b-row>
      <b-col
        cols="12"
        md="4"
      />
      <b-col
        class="mt-3 mt-md-0"
        cols="12"
        md="8"
      />
    </b-row>

    <DeviceModal />

    <AsyncModal
      id="devices-add-device-modal"
      title="Add a device"
      :on-confirm="onConfirm"
    >
      <template #modal-ok="{ inProgress }">
        <b-spinner
          v-show="inProgress"
          small
        />
        Save
      </template>

      <template #default="{ inProgress }">
        <b-form>
          <b-form-group
            label="Name"
            description="Name will be filled automatically if you left it empty"
          >
            <b-form-input
              v-model.trim="form.name"
              :readonly="inProgress"
            />
          </b-form-group>
        </b-form>
      </template>
    </AsyncModal>

    <AsyncModal
      :id="removeDeviceModal.id"
      title="Warning"
      :on-confirm="removeDevice"
      :ok-variant="'danger'"
    >
      Are you sure you want to remove <b>{{ removeDeviceModal.device.id }}. {{ removeDeviceModal.device.name }}</b>

      <template #modal-ok>
        Remove
      </template>
    </AsyncModal>

    <b-row>
      <b-col>
        <b-card no-body>
          <b-card-body>
            <b-card-title class="mb-0">
              Your devices

              <b-button
                v-b-tooltip="'Add a device'"
                v-b-modal.devices-add-device-modal
                class="float-right"
                size="sm"
              >
                <b-icon icon="plus" />
              </b-button>
            </b-card-title>
          </b-card-body>
          <b-row>
            <b-col>
              <b-table
                ref="devicesTable"
                :items="items"
                :fields="fields"
                :per-page="perPage"
                :current-page="currentPage"
                class="mb-0"
                show-empty
              >
                <template #cell(actions)="row">
                  <b-button
                    v-b-tooltip="'Show QR code'"
                    @click="showQRCodeModal(row.item)"
                  >
                    <font-awesome-icon
                      class="bi-map b-icon bi"
                      icon="qrcode"
                    />
                  </b-button>
                  <b-button
                    v-b-tooltip="'Go to Map'"
                    variant="outline-primary"
                    @click="gotoMap(row.item)"
                  >
                    <b-icon icon="map" />
                  </b-button>
                  <b-button
                    v-b-tooltip="'Remove the device'"
                    variant="danger"
                    @click="showRemoveDeviceModal(row.item)"
                  >
                    <b-icon icon="trash" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                class="mb-0"
              />
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal
      :id="modal.id"
      :title="modal.title"
      ok-only
    >
      <center>
        <b-img :src="modal.data" />
      </center>
      <div
        class="d-flex"
        style="align-items: center"
      >
        <span
          style="white-space: nowrap"
          class="mr-1"
        >
          API Key:
        </span>
        <code style="word-break: break-all">
          {{ modal.qrCode }}
        </code>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { toDataURL } from "qrcode"

import DeviceModal from "@/components/DeviceModal.vue"
import AsyncModal from "@/components/AsyncModal.vue"
import * as devices from "@/api/devices"

export default {
  name: "Devices",
  components: {
    DeviceModal,
    AsyncModal,
  },
  data() {
    return {
      modal: {
        id: "devices-qrcode",
        title: "",
        data: null,
        qrCode: null,
      },
      removeDeviceModal: {
        id: "devices-remove-device",
        device: {},
      },
      form: {},
      items: async ctx => {
        const response = await devices.FetchAll(ctx.currentPage - 1, ctx.perPage)
        const items = response.data?.data || []
        this.totalRows = response.data?.totalElements || 0

        return items
      },
      fields: [
        { key: "id", class: "fit-to-content-col" },
        { key: "name" },
        { key: "actions", class: "fit-to-content-col" },
      ],
      currentPage: 1,
      totalRows: 1,
      perPage: 5,
    }
  },
  methods: {
    async onConfirm() {
      await devices.Create(this.form.name)
      this.$refs.devicesTable.refresh()
    },
    async removeDevice() {
      if (!this.removeDeviceModal.device?.id) {
        throw new Error("Device isn't selected")
      }

      await devices.Delete(this.removeDeviceModal.device.id)
      this.$refs.devicesTable.refresh()
    },
    showRemoveDeviceModal(item) {
      this.removeDeviceModal.device = item
      this.$bvModal.show(this.removeDeviceModal.id)
    },
    async showQRCodeModal(item) {
      this.modal.title = `QRCode — ${item.name}`
      this.modal.data = null
      this.modal.qrCode = item.key
      this.$bvModal.show(this.modal.id)
      const url = await toDataURL(item.key)
      this.modal.data = url
    },
    gotoMap(item) {
      this.$router.push({
        name: "Map",
        params: {
          id: item.id,
        },
      })
    },
  },
}
</script>

<style>
.b-table.table td {
  vertical-align: middle;
}
.fit-to-content-col {
  width: 1px;
  white-space: nowrap;
}
</style>
