<template>
  <div>
    <b-card>
      <b-card-title>
        Welcome to Locator
      </b-card-title>

      Locator allows you to add and track your devices.
    </b-card>

    <b-card class="mt-3">
      <b-card-text v-if="$store.state.auth.token">
        You have signed in as:
        <b v-if="user.email">
          {{ user.email }}
        </b>
        <b-spinner
          v-else
          small
        />
      </b-card-text>
      <b-card-text v-else>
        To access all the features you need to
        <b-link :to="{name: 'SignIn'}">sign in</b-link>
        or
        <b-link :to="{name: 'SignUp'}">sign up</b-link> for free!
      </b-card-text>
    </b-card>
  </div>
</template>


<script>
import { mapActions } from "vuex"

import { GetLoggedUserDetails } from "@/api/auth"

export default {
  name: "Home",
  components: {},
  data() {
    return {
      user: {},
    }
  },
  async mounted() {
    if (this.$store.state.auth.token) {
      const { data } = await GetLoggedUserDetails()
      this.user = data
    }
  },
  methods: {
    ...mapActions({
      signOut: "auth/signOut",
    }),
  },
}
</script>
