<template>
  <div>
    <b-row>
      <b-col>
        <b-form>
          <b-form-group label="Locations after data">
            <b-form-datepicker
              id="map-locations-after"
              v-model="afterDate"
              :max="beforeDate || today"
              @input="onDateRangeChanged"
            />
          </b-form-group>
        </b-form>
      </b-col>
      <b-col>
        <b-form>
          <b-form-group label="Location before date">
            <b-form-datepicker
              id="map-locations-before"
              v-model="beforeDate"
              :max="today"
              boundary="viewport"
              @input="onDateRangeChanged"
            />
          </b-form-group>
        </b-form>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        cols="12"
        md="7"
      >
        <div class="map-wrapper">
          <l-map
            ref="myMap"
            class="map"
            :zoom="zoom"
            :center="center"
            :options="mapOptions"
          >
            <l-tile-layer
              :url="url"
              :attribution="attribution"
            />
            <l-marker
              v-for="l in locations"
              ref="markers"
              :key="l.id"
              :lat-lng="latLng(l.lat, l.long)"
            >
              <l-popup> Byłem tu o: {{ l.createdOn }} </l-popup>
            </l-marker>
            <l-polyline :lat-lngs="locations" />
          </l-map>
        </div>
      </b-col>
      <b-col
        cols="12"
        md="5"
      >
        <b-table
          select-mode="single"
          :items="locations"
          :fields="fields"
          small
          responsive
          selectable
          sticky-header
          show-empty
          @row-selected="centerToMarker"
        />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import moment from "moment"

import * as locations from "@/api/locations"
import { latLng } from "leaflet"

const defaultCenter = latLng(50.074925, 19.99773)

const latLongFormatter = value => {
  return value.toFixed(5)
}

const dateFormatter = value => {
  return moment(value).format("YYYY-MM-DD hh:mm:ss")
}

export default {
  name: "Map",
  components: {},
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      today: new Date(),
      beforeDate: new Date(),
      afterDate: new Date(),
      markers: [],
      locations: [],
      fields: [
        { key: "lat", formatter: latLongFormatter },
        { key: "long", formatter: latLongFormatter },
        { key: "createdOn", formatter: dateFormatter },
      ],
      isLoadingLocations: false,

      zoom: 13,
      center: defaultCenter,
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      withPopup: latLng(47.41322, -1.219482),
      withTooltip: latLng(47.41422, -1.250482),
      currentZoom: 11.5,
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5,
      },
    }
  },
  async mounted() {
    console.log(this.$props)
    await this.refreshData()
  },
  methods: {
    latLng,
    centerToMarker([row]) {
      if (!row) return
      this.center = latLng(row.lat, row.long)
      const marker = this.$refs.markers.find(m => m.$vnode.key === row.id)
      marker.mapObject.openPopup()
    },
    onDateRangeChanged() {
      if (this.afterDate > this.beforeDate) {
        this.afterDate = this.beforeDate
      }
      this.refreshData()
    },
    async refreshData() {
      this.isLoadingLocations = true
      const { data } = await locations.FetchAll(this.id, this.afterDate, this.beforeDate)
      this.locations = (data?.data || []).map(l => ({ ...l, lng: l.long }))
      this.center = this.locations[0] || defaultCenter
    },
  },
}
</script>

<style scoped>
.b-form-datepicker {
  /* push datepicker above leaflet controls */
  z-index: 10000;
}

.map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
.map-wrapper {
  min-height: 500px;
  width: 100%;
  height: 100%;
  position: relative;
}
</style>
