<template>
  <div>
    <b-card>
      <div class="mb-3">
        <b-card-title class="d-inline">
          Sign in
        </b-card-title>

        <b-card-sub-title class="d-inline">
          <router-link :to="{ name: 'SignUp' }">
            or create a new account
          </router-link>
        </b-card-sub-title>
      </div>

      <b-form
        @submit="onSubmit"
        @reset="onReset"
      >
        <b-form-group label="Email">
          <b-form-input
            v-model="form.email"
            :readonly="inProgress"
            required
            placeholder="Input email"
          />
        </b-form-group>

        <b-form-group label="Password">
          <b-form-input
            v-model="form.password"
            :readonly="inProgress"
            type="password"
            required
            placeholder="Input password"
          />
        </b-form-group>

        <b-button
          type="submit"
          variant="primary"
          :disabled="inProgress"
        >
          <b-spinner
            v-show="inProgress"
            small
          />
          Submit
        </b-button>
        <b-button
          type="reset"
          variant="danger"
          :disabled="inProgress"
        >
          Reset
        </b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import * as AuthService from "@/api/auth"
import { executeAtLeast } from "@/core/utils"

export default {
  name: "SignIn",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      inProgress: false,
    }
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault()

      this.inProgress = true

      try {
        const { data } = await executeAtLeast(AuthService.SignIn(this.form.email, this.form.password))
        const { token } = data
        this.$store.commit("auth/setToken", token)
        const returnUrl = this.$router.currentRoute?.query?.return_url || "/"
        this.$router.push(decodeURIComponent(returnUrl))
      } catch (error) {
        const message = error.response?.data?.error
        this.$bvToast.toast(message, {
          title: "Error",
          autoHideDelay: 3000,
          variant: "danger",
        })
      } finally {
        this.inProgress = false
      }
    },
    onReset(evt) {
      evt.preventDefault()
      this.form.email = ""
      this.form.password = ""
    },
  },
}
</script>
