<template>
  <div>
    <b-card>
      <div class="mb-3">
        <b-card-title class="d-inline">
          Sign up
        </b-card-title>

        <b-card-sub-title class="d-inline">
          <router-link :to="{ name: 'SignIn' }">
            or sign in to your account
          </router-link>
        </b-card-sub-title>
      </div>

      <b-form
        @submit="onSubmit"
        @reset="onReset"
      >
        <b-form-group label="Your email">
          <b-form-input
            v-model="form.email"
            :readonly="inProgress"
            required
            placeholder="Email"
          />
        </b-form-group>

        <b-form-group label="Your password">
          <b-form-input
            v-model="form.password"
            :readonly="inProgress"
            type="password"
            required
            placeholder="Password"
          />
        </b-form-group>

        <b-button
          type="submit"
          variant="primary"
          :disabled="inProgress"
        >
          <b-spinner
            v-show="inProgress"
            small
          />
          Submit
        </b-button>
        <b-button
          type="reset"
          variant="danger"
          :disabled="inProgress"
        >
          Reset
        </b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import * as AuthService from "@/api/auth"

export default {
  name: "SignUp",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      inProgress: false,
    }
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault()

      this.inProgress = true

      try {
        await AuthService.SignUp(this.form.email, this.form.password)
      }
      catch(error) {
        const message = error.response?.data?.error || "Unknown error"
        this.$bvToast.toast(message, {
          title: "Error",
          autoHideDelay: 3000,
          variant: "danger",
        })
      }
      finally {
        this.inProgress = false
      }
    },
    onReset(evt) {
      evt.preventDefault()
      this.form.email = ""
      this.form.password = ""
    },
  },
}
</script>
