<template>
  <div>
    <b-row>
      <b-col>
        <b-button>
          Add
        </b-button>
      </b-col>
      <b-col>
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
        />
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <router-view />
      </b-col>
    </b-row>

    <b-modal
      :id="editModal.id"
      title="Edit user"
      :busy="editModal.inProgress"
      @ok="confirmEdit"
    >
      <b-form @submit.stop.prevent>
        <b-form-group label="Email">
          <b-form-input v-model="editModal.user.email" />
        </b-form-group>
      </b-form>

      <template v-slot:modal-ok>
        <b-spinner
          v-if="editModal.inProgress"
          small
        />
        Save
      </template>
    </b-modal>

    <b-modal
      :id="removeModal.id"
      title="Warning"
      ok-variant="danger"
      :busy="removeModal.inProgress"
      @ok="confirmRemoval"
    >
      <template v-slot:modal-ok>
        <b-spinner
          v-if="removeModal.inProgress"
          small
        />
        Delete
      </template>
      You are about to delete <b>{{ removeModal.user.email }}</b>. Do you want to proceed?
    </b-modal>
  </div>
</template>

<script>
function createUsers(howMany = 50) {
  const users = []
  for (let i = 1; i <= howMany; i += 1) {
    users.push({
      id: i,
      email: `user_${i}@email.com`,
    })
  }
  return users
}

export default {
  name: "Users",
  data() {
    return {
      fields: [{ key: "id" }, { key: "email" }, { key: "actions" }],
      items: [...createUsers()],
      totalRows: 1,
      perPage: 20,
      currentPage: 1,
      editModal: {
        id: "edit-user-modal",
        user: {},
        inProgress: false,
      },
      removeModal: {
        id: "remove-user-modal",
        user: {},
        inProgress: false,
      },
    }
  },
  mounted() {
    this.totalRows = this.items.length
  },
  methods: {
    edit(id) {
      this.editModal.user = this.items.find(el => el.id === id)
      this.$bvModal.show(this.editModal.id)
      console.debug("edit", id)
    },
    remove(id) {
      this.removeModal.user = this.items.find(el => el.id === id)
      this.$bvModal.show(this.removeModal.id)
      console.debug("remove", id)
    },
    confirmEdit(bve) {
      bve.preventDefault()
      this.editModal.inProgress = true
      setTimeout(() => {
        this.editModal.inProgress = false
        this.$bvModal.hide(this.editModal.id)
      }, 1000)
    },
    confirmRemoval(bve) {
      bve.preventDefault()
      this.removeModal.inProgress = true
      setTimeout(() => {
        this.removeModal.inProgress = false
        this.$bvModal.hide(this.removeModal.id)
      }, 1000)
    },
  },
}
</script>
